{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "extends": "airbnb",
  "rules": {
    "quotes": [0],
    "import/extensions": [0],
    "no-underscore-dangle": 0,
    "prefer-arrow-callback": 0,
    "space-unary-ops": 0
  }
}
