version: '{build}'
clone_folder: C:\projects\meteor
os: Visual Studio 2015
environment:
  METEOR_PRETTY_OUTPUT: 0
  METEOR_DISABLE_OPTIMISTIC_CACHING: 1
  SELF_TEST_TOOL_NODE_FLAGS: ' '
  TOOL_NODE_FLAGS: --expose-gc
  TIMEOUT_SCALE_FACTOR: 4
  METEOR_HEADLESS: true
  SELF_TEST_EXCLUDE: "\
      ^old cli tests|\
      ^minifiers can't register non-js|\
      ^minifiers: apps can't use|\
      ^compiler plugins - addAssets\
      "
platform:
  - x86
  - x64

# We don't need the actual "build", just the tests.
build: off

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - ps: C:\projects\meteor\scripts\windows\appveyor\install.ps1

test_script:
  # For now, we're only running "modules - test app" as it's known to
  # work on Windows and is one of the more important tests.
  - ps: .\meteor.bat self-test --junit "$(Join-Path $env:TEMP 'self-test-junit-0.xml')" 'modules - test app'

on_finish:
  - ps: $blockRdp = $true; iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

after_test:
# upload test results via rest-api
  - ps: |
        $wc = New-Object 'System.Net.WebClient'
        Get-ChildItem $env:TEMP -Name -Recurse 'self-test-junit-*.xml'  |
        Foreach-Object {
          $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_))
        }

cache:
  - dev_bundle -> meteor
  - .babel-cache
  - .meteor
