version: '{build}'
clone_folder: C:\projects\meteor
os: Visual Studio 2015
environment:
  METEOR_PRETTY_OUTPUT: 0
  METEOR_DISABLE_OPTIMISTIC_CACHING: 1
  SELF_TEST_TOOL_NODE_FLAGS: ' '
  TOOL_NODE_FLAGS: --expose-gc
  TIMEOUT_SCALE_FACTOR: 4
  METEOR_HEADLESS: true
  SELF_TEST_EXCLUDE: "\
      ^old cli tests|\
      ^minifiers can't register non-js|\
      ^minifiers: apps can't use|\
      ^compiler plugins - addAssets\
      "
platform:
  - x64
  - x86

matrix:
  fast_finish: true

# We don't need the actual "build", just the tests.
build: off

install:
  - ps: C:\projects\meteor\scripts\windows\appveyor\install.ps1

test_script:
  # For now, we're only running tests known to work on Windows, and
  # specifically, the more important oes.
  - ps: |
        $jUnitOutput = Join-Path $env:TEMP 'self-test-junit-0.xml';
        $tests = 'modules - test app|autoupdate|create$';
        cmd.exe /C .\meteor.bat self-test `
          --junit "$jUnitOutput" "$tests" '2>&1'

after_test:
# upload test results via rest-api
  - ps: |
        $wc = New-Object 'System.Net.WebClient'
        Get-ChildItem $env:TEMP -Name -Recurse 'self-test-junit-*.xml'  |
        Foreach-Object {
          $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_))
        }

cache:
  - dev_bundle -> meteor
  - .babel-cache
  - .meteor
