version: '{build}'
clone_folder: C:\projects\meteor
os: Visual Studio 2015
environment:
  METEOR_PRETTY_OUTPUT: 0
  METEOR_DISABLE_OPTIMISTIC_CACHING: 1
  SELF_TEST_TOOL_NODE_FLAGS: ' '
  TOOL_NODE_FLAGS: --expose-gc
  TIMEOUT_SCALE_FACTOR: 4
  METEOR_HEADLESS: true
platform:
  - x64
  - x86

matrix:
  fast_finish: true

# We don't need the actual "build", just the tests.
build: off

install:
  - ps: C:\projects\meteor\scripts\windows\appveyor\install.ps1

test_script:
  # For now, we're only running tests known to work on Windows, and
  # specifically, the more important ones.
  #   Notes:
  #      When using non-powershell, don't use single quotes.
  - set
  - .\meteor.bat self-test "modules - test app" --junit %TEMP%\self-test-junit-0.xml

after_test:
# upload test results via rest-api
  - ps: |
        $wc = New-Object 'System.Net.WebClient'
        Get-ChildItem $env:TEMP -Name -Recurse 'self-test-junit-*.xml'  |
        Foreach-Object {
          $wc.UploadFile("https://ci.appveyor.com/api/testresults/junit/$($env:APPVEYOR_JOB_ID)", (Resolve-Path $_))
        }
